<h1>Welcome to the Friends List App!</h1>
<h3>List of Friends</h3>
<table class="table table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>BFF?</th>
    </tr>
    <tbody>
        <tr *ngFor="let friend of friends">
            <td>{{friend.firstName}}</td>
            <td>{{friend.lastName}}</td>
            <td>{{friend.phone}}</td>
            <td>{{friend.email}}</td>
            <td>{{friend.bff}}</td>
        </tr>
    </tbody>
</table>
<h3>Add a Friend</h3>
<form>
    <div class="form-row">
        <div class="form-group"></div>
        First Name: <input [(ngModel)]="friend.firstName" type="text"><br>
    </div>
    <div class="form-row">
        Last Name: <input [(ngModel)]="friend.lastName" type="text"><br>
    </div>
    Phone: <input [(ngModel)]="friend.phone" type="text"><br>
    Email: <input [(ngModel)]="friend.email" type="text"><br>
    Bff: <input [(ngModel)]="friend.bff" type="checkbox"><br>
    <button (click)="add()">Add</button>
</form>